:root {
    --skyblue: #1eff3c;
    --vintage_pc: #E3E1C9;
    --deep_space_sparkle: #485B63;
    --screen: #3d3d3d;
    --pink: #ec058E;
    --white: #fffbfc;
    --gray: #181818;
    --black: #010400;
}

h1 {
    text-align: left;
    font-family: 'Bitter', serif;
    font-weight: bold;
    font-size: 35px;
    color: var(--skyblue)
}

h2 {
    text-align: center;
    font-weight: bolder;
}

h3 {
    font-weight: bolder;
    text-align: center;
}

#cursor {
    font-size: 43px;
    font-family: 'Bitter', serif;
}

body {
    /*background-color: var(--gray); */
    background-color: var(--vintage_pc);
    color: var(--skyblue);
    font-family: 'Bitter', serif;
    
}

#deco {
    width: 100%;
    height: 20px;
    background: #C9C7AF;
    position: fixed;
    bottom: 8%;
}

#deco-image {
    position: fixed;
    bottom: 2%;
    padding-left: 20px;
    height: 50px;
    
}

.content-wrapper {
    padding-top: 7em;
    
}
.content {
    margin: auto;
    background-color: var(--screen);
    display: block;
    border: 0px solid red;
    border-radius: 50px;
    margin-top: 5px;
    max-width: 1400px;
    width: 80%;
    height: 75vh;
    overflow-y: scroll;

}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li 
{
    list-style: none;
}

a
{
    text-decoration: none;
}
.main
{
    margin-bottom: 30px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}



/*--------------------- Bootstrap -------------------------- */
.container .row{
    padding-top: 15px;
    padding-bottom: 15px;
}

/*-------------------- Github Button ----------------- */
.github-button{
    position: absolute;
    padding: 15px 20px;
    margin: 40px 0;
    color: var(--skyblue);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    border: 1px solid var(--skyblue);
    border-radius: 10px;
}

.github-button:hover{
    background: var(--skyblue);
    color: #050801;
    box-shadow: 0 0 5px var(--skyblue),
                0 0 25px var(--skyblue),
                0 0 50px var(--skyblue),
                0 0 200px var(--skyblue);
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

/*------------------- NAVBAR ----------------------- */
.nav-bar
{
    display: flex;
    align-items: right;
    justify-content: space-between;
    padding: 20px;
    
    color: var(-deep_space_sparkle);
    font-size: 24px;
    user-select: none;
    position: fixed;
    top: 0;
    width: 100%;
    
}

.nav-items a 
{
    color: var(--deep_space_sparkle);
}

h1 a 
{
    color: var(--deep_space_sparkle);
}
.menu 
{
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover 
{
    background-color: black;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li 
{
    padding: 5px 14px;
}

input[type=checkbox]
{
    display: none;
}

.hamburger
{
    display: none;
    font-size: 34px;
    user-select: none;
    padding: 5px;
}

/* MOBILE DEVICE NAV BAR */
@media (max-width: 840px) 
{
    .menu
    {
        display: none;
        position: fixed;
        background-color: lightgray;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    .menu li:hover 
    {
        display: inline-block;
        background-color: black;
        transition: 0.3s ease;
    }
    input[type=checkbox]:checked ~ .menu
    {
        display: block;
    }
    .hamburger
    {
        display: block;
    }
    .content {
        margin: auto;
        background-color: black;
        display: block;
        border: 0px solid red;
        border-radius: 0px;
        margin-top: 5px;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    
    }
    #deco {
        display: none;
    }
    #deco-image {
        display: none;
    }
}