:root {
    --brightgreen: #1eff3c;
    --vintage_pc: #E3E1C9;
    --deep_space_sparkle: #485B63;
    --screen: #3d3d3d;
    --pink: #ec058E;
    --white: #fffbfc;
    --gray: #181818;
    --black: #010400;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a
{
    text-decoration: none;
}

body {
    /*background-color: var(--gray); */
    /* margin-top: 6px;
    margin-bottom: 6px; */
    background-color: var(--vintage_pc);
    color: var(--brightgreen);
    font-family: 'Bitter', serif; 
    
}

h1 {
    text-align: left;
    font-family: 'VT323', serif;
    font-weight: bold;
    font-size: 35px;
}

h1 a 
{
    color: var(--brightgreen);
}

h2 {
    font-family: 'VT323', serif;
    text-align: Center;
    font-weight: bolder;
}

h3 {
    font-family: 'VT323', serif;
    font-size: 20px;
    font-weight: bolder;
}

li 
{
    list-style: none;
}


input[type=checkbox]
{
    display: none;
}

#cursor {
    font-size: 43px;
    font-family: 'VT323', serif;
}

/* #deco {
    width: 100%;
    height: 20px;
    background: #C9C7AF;
    position: fixed;
    bottom: 8%;
} */

#deco-crtbezel {
    border-radius: 40px;
    position: absolute;
    width: 95%;
    height: 90%;
    display: relative;
    /* padding: 20px; */
    margin: auto;
    background: #c2bfb0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -5;
    max-width: 1450px;
}


#project {
    list-style-type: '-';
    padding-left: px;
}


.content-wrapper {
    
     display: block;
}

.crt{ 
    background-color: var(--screen);
    border: 0px solid red;
    border-radius: 40px;
    height: 85vh;
    margin: auto;
    max-width: 1300px;
    overflow-y: scroll;
    width: 85%;
    z-index: 9;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.main
{
    margin-bottom: 30px;
}


/*--------------------- Bootstrap -------------------------- */
.container .row{
    padding-top: 30px;
    padding-bottom: 15px;
}

.container .col-md-4 {
    padding: 15px 15px 15px 15px;
}

/*-------------------- Github Button ----------------- */
.button{
    position: block;
    padding: 15px 20px;
    margin: 40px 0;
    color: var(--brightgreen);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    border: 1px solid var(--brightgreen);
    border-radius: 5px;
    background-color: var(--screen);
    font-family: 'VT323', serif;
}

.button:hover{
    background: var(--brightgreen);
    color: #050801;
    box-shadow: 0 0 5px var(--brightgreen),
                0 0 25px var(--brightgreen),
                0 0 50px var(--brightgreen),
                0 0 200px var(--brightgreen);
     /* -webkit-box-reflect:below 1px linear-gradient(transparent, #0005); */
}

/*------------------- NAVBAR ----------------------- */
.nav-bar
{
    align-items: right;
    color: var(--brightgreen);
    font-family: 'VT323', serif;
    font-size: 24px;
    justify-content: space-between;
    padding-left: 50px;
    user-select: none; 
    border-bottom: 1px solid;
    position: sticky;
    background-color: var(--gray);
    width: 100%;
    top: 0;
    z-index: 9999;
}

.nav-items a 
{
    color: var(--brightgreen);
    /* display: block; */
    padding: 8px;
    text-decoration: none;
    
}
.nav-items a:hover 
{
    color: var(--white);
}


.menu 
{
    display: flex;
    
    align-content: left;
    gap: 1em;
    font-size: 18px;
    padding-top: 15px;
    
}

.menu li:hover 
{
    background-color: var(--deep_space_sparkle);
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li 
{
    padding: 5px 14px;
}

.hamburger
{
    display: none;
    font-size: 34px;
    user-select: none;
    padding: 5px;
}

/* .cs {
    padding: 16px;
} */
/* .sticky {
    position: fixed;
    top: 0;
    width:100%;
}

.sticky+.content {
    padding-top: 60px;
} */

/* MOBILE DEVICE NAV BAR */
@media (max-width: 865px) 
{
    .menu
    {
        display: none;
        position: fixed;
        background-color: lightgray;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    .menu li:hover 
    {
        display: inline-block;
        background-color: black;
        transition: 0.3s ease;
    }
    input[type=checkbox]:checked ~ .menu
    {
        display: block;
    }
    .hamburger
    {
        display: block;
    }
    .crt {
        margin: auto;
        background-color: va(--screen);
        display: block;
        border: 0px solid red;
        border-radius: 0px;
        margin-top: 5px;
        width: 100%;
        height: 85vh;
        overflow-y: scroll;
    }
   
    #deco-crtbezel {
        display: none;
    }
}